<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="~/Content/ui/lib/html5shiv.js"></script>
<script type="text/javascript" src="~/Content/ui/lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Content/ui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
<script type="text/javascript" src="~/Content/ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->


    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/Content/ui/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/ui/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/ui/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/Content/ui/static/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    @RenderSection("head", false)
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-color: #f2f2f2;
            max-width: 640px;
            min-width: 320px;
            margin: 0 auto;
            overflow-x: hidden;
        }

        .layout_bottom {
            width: 100%;
            height: 45px;
            background-color: #fff;
            border-top: 1px solid #d0d0d0;
            position: fixed;
            bottom: 0px;
            left: 0;
        }

        .layout_bottomleft {
            width: 50%;
            height: 45px;
            float: left;
            padding-top: 5px;
        }

        .layoutbox_top {
            width: 100%;
            height: 22px;
            text-align: center;
        }

        .layoutbox_bottom {
            width: 100%;
            height: 18px;
            font-size: 8px;
            text-align: center;
            color: #333;
        }

        .layoutimg {
            width: 20px;
            height: 20px;
        }

        A:link {
            text-decoration: none;
        }

        A:visited {
            text-decoration: none;
            color: white;
        }

        A:hover {
            text-decoration: underline;
            color: white;
        }

        A:active {
            text-decoration: underline;
            color: white;
        }
    </style>
</head>
<body>
    @Html.Action("Top", "Base", new { title = ViewBag.Title })
    @RenderBody()

    @*<footer class="footer mt-20">
        <div class="container">
            <p>
                本后台系统提供技术支持
            </p>
        </div>
    </footer>*@

    <div class="layout_bottom">
        <a href="/Index" id="a_tran">
            <div class="layout_bottomleft">
                <div class="layoutbox_top">
                    <img src="~/Content/Image/home2.png" class="layoutimg" />
                </div>
                <div class="layoutbox_bottom">首页</div>
            </div>
        </a>
        <a href="/Design">
            <div class="layout_bottomleft">
                <div class="layoutbox_top">
                    <img src="~/Content/Image/sj2.png" class="layoutimg" />
                </div>
                <div class="layoutbox_bottom">0元设计</div>
            </div>
        </a>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    var str = document.title;
    if (str.indexOf('0元设计') < 0) {
        $(".layoutimg").eq(0).attr({ "src": "/Content/Image/home.png" });
        $(".layoutbox_bottom").eq(0).css({ "color": "#30c2b0" });
    }
    else if (str.indexOf('0元设计') >= 0) {
        $(".layoutimg").eq(1).attr({ "src": "/Content/Image/sj.png" });
        $(".layoutbox_bottom").eq(1).css({ "color": "#30c2b0" });
    }
</script>
