@{
    ViewBag.Title = "编辑文章";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var themeList = ViewBag.themeList as List<Entity.T_Theme>;
}

@model Entity.T_News
<style>
    .box {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
    }

        .box .title {
            line-height: 24px;
            padding: 5px 0;
        }

        .box ul {
            display: flex;
            flex-direction: row;
        }

            .box ul li {
                border-radius: 4px;
                background: #f5f5f5;
                margin: 10px 0 0 4%;
                line-height: 30px;
                text-align: center;
                padding-left: 30px;
                padding-right: 30px;
            }

    .classifymain {
        height: 400px;
        overflow: auto;
    }

        .classifymain .box li.on {
            background: #30c2b0;
            color: #fff;
        }

    .select_xuan i {
        padding: 0 26px 0 10px;
        border-radius: 4px;
        background: #ffa502 url(/Content/Image/close.png) no-repeat right 7px center;
        background-size: 10px;
        color: #fff;
        margin: 10px 0 10px 10px;
        line-height: 30px;
        float: left;
        font-size: 14px;
    }

    .msgbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        bottom: 10px;
    }
</style>
<div class="page-container">
    @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @class = "form form-horizontal", @onsubmit = "return setContent()" }))
    {
        @Html.AntiForgeryToken()
        <input id="id" name="id" type="hidden" value="@Model.ID" />
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@Model.NewsTitle" placeholder="" id="" name="NewsTitle">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>副标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@Model.NewsSmallTitle" placeholder="" id="" name="NewsSmallTitle">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类型：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <span class="select-box">
                    <select name="" class="select">
                        @if (themeList != null && themeList.Count > 0)
                        {
                            foreach (var item in themeList)
                            {
                            <option @(item.ID == Model.NewsType ? "selected" : "") value="@item.ID">@item.ThemeName</option>
                            }
                        }
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <div onclick="seleclassify()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe632;</i> 选择分类</div>
                <div class="select_xuan">
                    @{
                        if (Model.Classify != null && Model.Classify.Count > 0)
                        {
                            foreach (var item in Model.Classify)
                            {
                        <i value="@item.AID">@item.ClassifyName</i>
                            }
                        }
                    }
                </div>
                <input type="hidden" name="Classifylist" value="@Model.Classifylist" id="classifylist" />
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="@Model.SORT" placeholder="" id="" name="Sort">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">封面图</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="button" value="上传图片" class="btn btn-primary radius" onclick="fileupload()" />
                <span onclick="selpic()" id="fileloadmsg">未选择图片...</span>
                <div style="width: 100%; height: 100px;" id="imgs">
                    @{
                        if (@Model.NewsImg != null && @Model.NewsImg != "")
                        {
                        <img src="../../../Upload/@Model.NewsImg" id="imgdemo" onclick="imgPreview(&quot;imgdemo&quot;)" tips="点击查看大图" style="width: 120px;height: 70px;margin-top: 10px;" layer-pid="imgtest" layer-index="0">
                        }
                    }
                </div>
            </div>
            <input type="file" id="fileUpload" name="fileUpload" style="display: none;" />
            <input type="hidden" value="@Model.NewsImg" id="filename" name="NewsImg" />
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">详细内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="editor" type="text/plain" style="width: 100%; height: 400px;"></script>
            </div>
            <input type="hidden" id="txtcontent" name="txtcontent" value="@Model.NewsDetail" />
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onclick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    }
</div>

<!--请在下方写此页面业务相关的脚本-->
@section scripts{
    <script type="text/javascript" src="~/Content/ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Content/ui/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script type="text/javascript" src="~/Content/ui/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="~/Content/ui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="~/Content/ui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script src="~/Content/ui/lib/layer/2.4/layer.img.preview.js"></script>
    <script src="~/Content/MessageBox.js?v=1.1"></script>
    <script type="text/javascript">
        var test = 0;
        $(function () {
            var editor = UE.getEditor('editor');
            var shellId = 'editor';
            editor.ready(function () {
                editor.setContent(decodeURIComponent("@Model.NewsDetail"));
                $('#' + shellId + ' #edui1mo_toolbarbox').css('display', 'none');
                editor.addListener("contentChange", function (e) {
                    fn();
                });
                //var $textarea = $('#' + shellId + '').parent().find('iframe').contents();

                var fn = function () {
                    $("input[name='txtcontent']").val(encodeURIComponent(editor.getContent()));
                }

                //if (document.all) {
                //    $textarea.get(0).attachEvent('onpropertychange', function (e) {
                //        fn();
                //    });
                //} else {
                //    $textarea.on('input', fn);
                //}
            });

        });

        //function selpic()
        //{


        //    //layer.close(index);
        //}

        function fileupload() {
            $("#fileUpload").attr({ "onchange": "CardImgUpload()" });
            $("#fileUpload").click();
        }


        function CardImgUpload() {
            var pic = $('#fileUpload')[0].files[0];
            var fd = new FormData();
            fd.append('file', pic);
            $.ajax({
                url: "/admin/FileUpload",
                type: "post",
                // Form数据
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.indexOf('.jpg') > 0 || data.indexOf('.png') > 0 || data.indexOf('.gif') > 0 || data.indexOf('.bmp') > 0) {
                        $("#fileloadmsg").text(data);
                        $("#fileloadmsg").attr({ "href": "../../../Upload/" + data });
                        $("#imgs").html("<img src='../../../Upload/" + data + "' id='imgdemo' onclick='imgPreview(\"imgdemo\")' tips='点击查看大图' style='width: 120px;height: 70px;margin-top: 10px;' layer-pid='imgtest' layer-index='0'/>");
                        $("#filename").val(data);
                    }
                    else
                        alert(data);
                }
            });
        }

        function seleclassify() {

            var str = $("#classifylist").val().split('_');
            var classstr = "";
            $.ajax({
                url: "/admin/Classify/GetClassify",
                type: "post",
                // Form数据
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data) {
                        var json = JSON.parse(data);
                        var html = '<div class="classifymain">'
                        console.log(json);
                        for (var i = 0; i < json.length; i++) {
                            var classstr = "";
                            html += '<div class="box">'
                            html += '<div class="title">' + json[i].ClassifyName + '</div>';
                            html += '<ul>';
                            for (var k = 0; k < json[i].list.length; k++) {
                                for (var j = 0; j < str.length; j++) {
                                    if (str[j] && str[j] == json[i].list[k].AID) {
                                        classstr = 'class="on"'
                                    }
                                }
                                html += '<li ' + classstr + ' value="' + json[i].list[k].AID + '">' + json[i].list[k].ClassifyName + '</li>'
                                classstr = "";
                            }
                            html += '</ul>'
                            html += '</div>'
                        }
                        html += '</div>';
                        html += '<div class="msgbtn"><div class="btn btn-primary radius" onclick="btn_OK()"><i class="Hui-iconfont">&#xe632;</i>确定</div><div class="btn btn-default radius" style="margin-left: 20px;" onclick="btn_close()">&nbsp;&nbsp;取消&nbsp;&nbsp;</div></div>';
                        MessageBoxShow("分类", html, "", "500px");

                        /* 筛选类别样式添加 */
                        $('.classifymain').on('click', 'li', function () {
                            if ($(this).attr('class') == 'on') {
                                $(this).removeClass('on');
                            } else {
                                $(this).addClass('on').siblings('li').removeClass('on');
                            }
                        });
                    }
                }
            });
        }

        function btn_OK() {
            var param = '';
            var list = "";
            for (var i = 0; i < $('.classifymain .box').length; i++) {
                var id = $('.classifymain .box').eq(i).find('.on').val();
                if (id == undefined) {
                    continue;
                }
                else {
                    list += id + "_"
                    //param += 'tag[]=' + $('.classifymain .box').eq(i).find('.on').val() + '&';
                    param += '<i value="' + $('.classifymain .box').eq(i).find('.on').val() + '">' + $('.classifymain .box').eq(i).find('.on').text() + '</i>'
                }
            }
            $(".select_xuan").empty().append(param);
            $("#classifylist").val(list);
            hideMask(1)
        }

        /* 关闭筛选项 */
        $('.select_xuan').on('click', 'i', function () {
            var tag_id = $(this).attr('value');
            var param = $("#classifylist").val();
            var newparamtmp = ("_" + param).replace("_" + tag_id + "_", "");
            var newparamstr = newparamtmp.split('_');
            var newparam = "";
            for (var j = 0; j < newparamstr.length; j++) {
                if (newparamstr[j]) {
                    newparam += newparamstr[j] + "_"
                }
            }
            $(this).remove();
            $("#classifylist").val(newparam);
        });

        function btn_close() {
            hideMask(1)
        }
    </script>
}